*.pyc
*.old*
__pycache__
*.blend1*
.DS_Store
node_modules
rsync.sh
*.orig*
tests
saved_models
*.bin
model.json
canvas
old
.vscode
training_checkpoints*
logs/
input.png
predicted.png
target.png
models
dist
gen-training-data/output*
*.exr
*.blend*
prot2prot.zip
